* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner {
    justify-content: center center;
    text-align: center;
}

.banner h1 {
    margin: 20px;
    color: #990000;
    text-shadow: red 0px 2px;

}

.caja {
    justify-content: center center;
    text-align: center;
}

.caja h3{
    color: #990000;
    text-shadow: red 0px 2px;
    margin: 20px;
    font-size: 30px;
}

.caja p {
    color: whitesmoke;
    font-size: 20px
}
.mincaja {
    justify-content: center center;
    text-align: center;
    margin: 30px;
    border-radius: 30px;
}

.mincaja .pf {
    justify-content: center center;
    text-align: center;
    width: 200px;
    border-radius: 290px;
    margin: 30px;
    border: #990000 solid 4px;
}

.mincaja img {
    width: 100px;
    margin: 30px;
}

.mincaja p {
    justify-content: center center;
    text-align: center;
    color: #990000;
    font-size: 30px;
    text-shadow: red 0px 2px;
}

.lg img {
    justify-content: center center;
    text-align: center;
    width: 50px;
    height: 50px;
}

.mc {
    display: inline-flex;
    margin: 20px;
}

.box {
    padding: 30px;
    background-color: #990000;
    border: solid 2px black;
    border-radius: 30px;;
    margin: 30px;
    justify-content: center center;
    text-align: center;
}

.box p {
    font-size: 25px;
    margin: 20px;
}

.bt {
    background-color: green;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px;
    border: solid 1px black;
    color: whitesmoke;
}

.bt:hover {
    background-color: red;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px;
    border: solid 1px black;
    color: whitesmoke;
}



footer {
    margin-top: 50px;
    padding: 2%;
    background-color:  #1a1a1a;
    text-align: center;
}

	.redes-sociales a {
		color: green;
		font-size: 2rem;
		margin: 0 10px;
		padding: 5px;
		display: inline-block;
    
	}

body>footer>div>a:nth-child(2)>i {
    color: red;
}


body>footer>div>a:nth-child(1)>i {
    color: #DD2A7B;
}



a:hover, a:focus {
    background-size: 100% 2px;
}

.bio  {
    text-align: center;
    font-size: 100px;
    margin: auto;
    color: white;
    margin-left: 430px;
}

.logo {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 30px;
}


.name {
    text-align: left;
}



@media (min-width: 320px) and (max-width: 768px) {

    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    
    body {
        background-color: #1a1a1a;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .banner {
        justify-content: center center;
        text-align: center;
    }
    
    .banner h1 {
        margin: 20px;
        color: #990000;
        text-shadow: red 0px 2px;
    
    }
    
    .caja {
        justify-content: center center;
        text-align: center;
    }
    
    .caja h3{
        color: #990000;
        text-shadow: red 0px 2px;
        margin: 20px;
        font-size: 30px;
    }
    
    .caja p {
        color: whitesmoke;
        font-size: 20px
    }
    .mincaja {
        justify-content: center center;
        text-align: center;
        margin: 20px;
        border-radius: 30px;
    }
    
    .mincaja .pf {
        justify-content: center center;
        text-align: center;
        width: 200px;
        border-radius: 290px;
        margin: 30px;
        border: #990000 solid 4px;
    }
    
    .mincaja img {
        width: 100px;
        margin: 30px;
    }
    
    .mincaja p {
        justify-content: center center;
        text-align: center;
        color: #990000;
        font-size: 20px;
        text-shadow: red 0px 2px;
    }
    
    .lg img {
        justify-content: center center;
        text-align: center;
        width: 40px;
        height: 40px;
    }
    
    .mc {
        justify-content: center center;
        text-align: center;
        margin: 5px;
        display: inline-block;
    }
    
    .box {
        justify-content: center center;
        text-align: center;
        padding: 20px;
        background-color: #990000;
        border: solid 2px black;
        border-radius: 30px;;
        margin: 20px;
    }
    
    .box p {
        font-size: 20px;
        margin: 20px;
    }
    
    .bt {
        background-color: green;
        border-radius: 30px;
        text-decoration: none;
        padding: 5px;
        border: solid 1px black;
        color: whitesmoke;
    }
    
    .bt:hover {
        background-color: red;
        border-radius: 30px;
        text-decoration: none;
        padding: 5px;
        border: solid 1px black;
        color: whitesmoke;
    }
    
    
    
    footer {
        margin-top: 10px;
        padding: 2%;
        background-color:  #1a1a1a;
        text-align: center;
    }
    
        .redes-sociales a {
            color: green;
            font-size: 2rem;
            margin: 0 10px;
            padding: 5px;
            display: inline-block;
        
        }
    
    body>footer>div>a:nth-child(2)>i {
        color: red;
    }
    
    
    body>footer>div>a:nth-child(1)>i {
        color: #DD2A7B;
    }
    
    
    
    a:hover, a:focus {
        background-size: 100% 2px;
    }
    
    .bio  {
        text-align: center;
        font-size: 100px;
        margin: auto;
        color: white;
        margin-left: 430px;
    }
    
    .logo {
        width: 70px;
        height: 70px;
        margin-top: 10px;
        margin-left: 30px;
    }
    
    
    .name {
        text-align: left;
    }
    
}
